body {
  font: 16px arial;
  margin: 0;
  padding: 0;
}

#products {
  float: left;
	margin: 100px 0 0 100px;
  width: auto;
}

.rate-row {
  border-bottom: solid 1px #cacaca;
  clear: both;
  float: left;
  height: 30px;
  padding-left: 100px;
}

.rate-row .ratings {
  background: #eaeaea;
  border-left: solid 1px #fff;
  cursor: pointer;
  font-size: 18px;
  float: left;
  height: 30px;
  line-height: 30px;
  margin: 0;
  text-align: center;
  width: 99px;
}

.rate-row .ratings.highlighted {
  background: #454545;
  color: #fff;
}

.product-row {
  border-bottom: solid 1px #cacaca;
  clear: both;
  float: left;
}

.product-row .prod-item {
  float: left;
  cursor: pointer;
  margin: 0;
  padding: 10px 0 10px 15px;
  width: 85px;
}

.product-row .prod-item.highlighted {
  background: #454545;
  color: #fff;
}

.product-row .radios {
  border-left: solid 1px #cacaca;
  float: left;
  padding: 10px 0;
  text-align: center;
  width: 99px;
}