body {
  font: 14px arial;
  margin: 0;
  padding: 0;
}

#wrapper {
  display: table;
  margin: 20px;
}

ul.lists {
  border: solid 1px #cacaca;
  float: left;
  margin: 0 30px 30px 0;
  overflow: hidden;
  padding: 10px 10px 18px;
  width: 200px;
}

ul.lists li.row {
  float: left;
  height: 20px;
  text-transform: lowercase;
  width: 100%;
}