body {
  font: 14px arial;
  margin: 0;
  padding: 0;
}

#wrapper {
  display: table;
  margin: 20px;
}

.list-block {
  float: left;
  width: 250px;
}

.lists {
  border: solid 1px #cacaca;
  float: left;
  margin: 0 30px 30px 0;
  padding: 10px;
  width: 200px;
}

.lists li {
  float: left;
  margin-top: 4px;
  text-transform: lowercase;
  width: 100%;
}

.sort-buttons-container {
  overflow: hidden;
}

.sort-buttons-container input[type='button'] {
  background: #000;
  border: none;
  color: #fff;
  cursor: pointer;
  font-size: 15px;
  height: 30px;
  margin: 0 10px 10px 0;
  padding: 0 10px;
}

.sort-buttons-container input[type='button'].active {
  background: #ff0000;
  pointer-events: none;
}